In [4]:
import pandas as pd
car_csv = pd.read_csv("cars.csv")
car_csv.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [94]:
from sklearn.model_selection import train_test_split
X = car_csv[["Volume", "Weight"]]
y = car_csv["CO2"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [95]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.4100871476339103

In [96]:
y_pred = model.predict(X_test[:10])
y_pred

array([106.69078079, 101.32216645, 104.96528686, 106.27600726,
       102.1364593 , 106.81005652, 104.51850671,  97.42121635,
        99.83129276, 104.41602982])

In [97]:
y_pred == y_test[:10]

35    False
13    False
26    False
30    False
16    False
31    False
21    False
12    False
8     False
17    False
Name: CO2, dtype: bool