In [96]:
import pandas as pd
car_df = pd.read_csv("car-sales-extended.csv")
car_df.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [103]:
# car_df[["Make", "Colour", "Odometer (KM)", "Doors"]] = car_df[["Make", "Colour", "Odometer (KM)", "Doors"]].fillna("missing")
car_df["Price"] = car_df["Price"].fillna(car_df["Price"].mean())

In [104]:
from sklearn.model_selection import train_test_split
X = car_df.drop("Price", axis=1)
y = car_df["Price"]

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [115]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.4273173951114483

In [119]:
y_pred = model.predict(X_test[:5])
print(y_pred)

[10004.41 14516.47 18891.86 17274.83 20260.59]

In [125]:
y_test[:5]

301    10004.41
917    14516.47
738    18891.86
310    17274.83
609    20260.59
Name: Price, dtype: float64

In [128]:
boolean_pred = y_test[:5] == y_pred
boolean_pred

301    True
917    True
738    True
310    True
609    True
Name: Price, dtype: bool

In [131]:
model.predict([[1,1,1,1,1,1,1,1,1,1,1]])

array([46094.65])