In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [4]:
heart_disease_df = pd.read_csv("heart-disease.csv")
heart_disease_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
X = heart_disease_df.drop("target", axis=1)
y = heart_disease_df["target"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8688524590163934

In [11]:
y_pred = model.predict(X_test[:10])
print(y_pred)

[1 0 1 1 1 0 1 0 0 0]

In [13]:
y_test[:10]

189    0
255    0
16     1
272    0
63     1
181    0
137    1
178    0
150    1
219    0
Name: target, dtype: int64

In [16]:
y_pred_boolean = y_pred == y_test[:10]
y_pred_boolean

189    False
255     True
16      True
272    False
63      True
181     True
137     True
178     True
150    False
219     True
Name: target, dtype: bool

In [17]:
model.predict([[1,2,3,4,5,6,7,8,9,10,11,12,13]])

array([0], dtype=int64)

In [1]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'