In [1]:
import pandas as pd
df = pd.read_csv("Ads_Purchase-1.csv")
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [2]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [3]:
X = df.drop("Purchased", axis=1)
y = df["Purchased"]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8875

In [7]:
y_pred = model.predict(X_test)
y_boolean = y_pred == y_test
y_boolean

313    True
370    True
256    True
264    True
168    True
       ...
154    True
384    True
275    True
147    True
228    True
Name: Purchased, Length: 80, dtype: bool

In [8]:
y_boolean.value_counts()

True     71
False     9
Name: Purchased, dtype: int64

In [9]:
model.predict([[18, 2000]])

array([0], dtype=int64)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knf = KNeighborsClassifier()
knf.fit(X_train, y_train)
knf.score(X_test, y_test)

0.775

In [12]:
y_pred = knf.predict(X_test)
y_boolean = y_pred == y_test
y_boolean

313     True
370    False
256     True
264     True
168     True
       ...
154     True
384    False
275    False
147    False
228     True
Name: Purchased, Length: 80, dtype: bool

In [13]:
y_boolean.value_counts()

True     62
False    18
Name: Purchased, dtype: int64

In [15]:
knf.predict([[18, 2000]])

array([0], dtype=int64)